:root {
  --color-white: #fff;
  --color-black: #1a1a1a;
  --color-black-2: #171717;
  --color-gray: rgba(255, 255, 255, 0.2);
  --color-gray-2: rgba(255, 255, 255, 0.5);
  --color-gray-3: #505050;
  --color-gray-4: #aeadad;
  --color-gray-5: #7a797917;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

button {
  border: 1px solid transparent;
}

ul {
  list-style: none;
}

.header {
  width: 100%;
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1805px;
  width: 98%;
  margin: 0 auto;
}

.header__nav {
  padding-top: 34px;
  padding-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__btn {
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 5px;
  padding: 15px 49px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.5s;
}

.header__btn:hover {
  transform: scale(0.9);
}

.header__nav-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__nav-item {
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.header__nav-item::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  border-radius: 4px;
  transform: rotateY(90deg);
  transform-origin: left;
  transition: transform 0.5s;
}

.header__nav-item:hover.header__nav-item::after {
  transform: rotateY(0deg);
}

.header__arrows {
  padding-top: 307px;
  padding-bottom: 127px;
  width: max-content;
  margin-left: auto;
  margin-right: 25%;
}

.header__arrows > img {
  width: 254px;
  height: 58px;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 155px;
}

.header__title {
  max-width: 1345px;
  font-size: 128px;
  font-weight: 500;
  line-height: 95%;
  font-family: "Nata Sans", sans-serif;
}

.header__text {
  max-width: 321px;
  margin-bottom: 17px;
  font-weight: 500;
}

section,
footer {
  margin-top: 200px;
}

.title {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 140px;
}

.badge {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  padding: 10px;
  margin: 12px 0;
}

.title-content {
  font-size: 80px;
  font-weight: 600;
  max-width: 1114px;
}

.portofolio__cards {
  margin-top: 80px;
  width: 100%;
  display: flex;
  gap: 40px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  max-width: 892px;
}

.card__img {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

.card__title {
  font-size: 24px;
  font-weight: 500;
  max-width: 780px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: color 0.5s;
}

.card__title:hover {
  color: var(--color-gray-4);
}

.card__chips {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

.chip {
  font-size: 14px;
  font-weight: 400;
  border: 1px solid var(--color-gray);
  padding: 10px 20px;
  border-radius: 8px;
}

.no-oldstyle-numbers {
  font-variant-numeric: lining-nums;
}

.portfolio__btn {
  margin-top: 60px;
  width: 100%;
  padding: 50px 0;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid var(--color-gray);
  border-radius: 20px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
}

.portfolio__btn:hover {
  background-color: var(--color-gray-5);
  transform: scale(0.9);
}

.benefits__cards {
  display: flex;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.benefits__card {
  width: 587px;
  background: linear-gradient(
    to top,
    rgba(36, 36, 36, 1) 0%,
    rgba(118, 23, 30, 1) 25%,
    rgba(194, 11, 25, 1) 50%,
    rgba(118, 23, 30, 1) 75%,
    rgba(36, 36, 36, 1) 100%
  );
  border-radius: 20px;
  margin-top: 60px;
  transition: transform 0.5s;
}

.benefits__card:hover {
  transform: rotate(3deg);
}

.benefits__card-img {
  width: 100%;
}

.benefits__card-content {
  margin-top: 40px;
  padding: 0 17px 35px 36px;
}

.benefits__card-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.benefits__card-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-2);
  max-width: 518px;
}

.about {
  position: relative;
}

.about__title {
  margin: 0 auto;
  max-width: max-content;
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 60px;
}

.about__img {
  overflow: hidden;
  border-radius: 30px;
  width: 100%;
}

.about__img > img {
  width: 100%;
}

.about__info {
  background-color: var(--color-white);
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  border-radius: 20px;
  position: absolute;
  bottom: 54px;
  left: 50%;
  transform: translateX(-50%);
}

.about__info-text {
  color: var(--color-black-2);
  font-size: 24px;
  font-weight: 500;
  max-width: 634px;
}

.about__btn {
  background-color: var(--color-black-2);
  padding: 20px 40px;
  border-radius: 10px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.5s;
}

.about__btn:hover {
  background: var(--color-gray-3);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__logo-text {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-gray);
  max-width: 160px;
  margin-top: 32px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 62px;
}

.contacts__tel {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contacts__email {
  font-size: 20px;
  font-weight: 600;
}

.contacts__social {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contacts__btn {
  padding: 24px 77px;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  width: 290px;
  cursor: pointer;
  transition: transform 0.5s;
}

.contacts__btn:hover {
  transform: scale(0.9);
}

.footer__other {
  display: flex;
  flex-wrap: wrap;
  gap: 110px;
}

.footer__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}

.footer__title::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  border-radius: 4px;
  transform: rotateY(90deg);
  transform-origin: left;
  transition: transform 0.5s;
}

.footer__title:hover.footer__title::after {
  transform: rotateY(0deg);
}

.footer__sub-title {
  color: var(--color-gray-3);
  font-size: 12px;
  font-weight: 500;
  transition: color 0.5s;
}

.footer__sub-title:hover {
  color: var(--color-gray-4);
}

.footer__items {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services__list {
  display: flex;
  gap: 60px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__bottom {
  margin-top: 96px;
  margin-bottom: 49px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__inn,
.footer__policy {
  font-weight: 500;
  font-size: 14px;
}

.footer__policy {
  text-decoration: underline;
}
