:root {
  --color-white: #fff;
  --color-black: #1a1a1a;
  --color-black-2: #171717;
  --color-gray: rgba(255, 255, 255, 0.2);
  --color-gray-2: rgba(255, 255, 255, 0.5);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}

.header {
  width: 100%;
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1805px;
  width: 98%;
  margin: 0 auto;
}

.header__nav {
  padding-top: 34px;
  padding-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__btn {
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 5px;
  padding: 15px 49px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.header__nav-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__nav-item {
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.header__arrows {
  padding-top: 307px;
  padding-bottom: 127px;
  width: max-content;
  margin-left: auto;
  margin-right: 25%;
}

.header__arrows > img {
  width: 254px;
  height: 58px;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 155px;
}

.header__title {
  max-width: 1463px;
  font-size: 128px;
  font-weight: 500;
  font-family: "Nata Sans", sans-serif;
}

.header__text {
  max-width: 321px;
  margin-bottom: 17px;
  font-weight: 500;
}

section,
footer {
  margin-top: 200px;
}

.title {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 140px;
}

.badge {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  padding: 10px;
  margin: 12px 0;
}

.title-content {
  font-size: 80px;
  font-weight: 600;
  max-width: 1114px;
}

.portofolio__cards {
  margin-top: 80px;
  width: 100%;
  display: flex;
  gap: 40px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  max-width: 892px;
}

.card__img {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

.card__title {
  font-size: 24px;
  font-weight: 500;
  max-width: 780px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card__chips {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

.chip {
  font-size: 14px;
  font-weight: 400;
  border: 1px solid var(--color-gray);
  padding: 10px 20px;
  border-radius: 8px;
}

.portfolio__btn {
  margin-top: 60px;
  width: 100%;
  padding: 50px 0;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid var(--color-gray);
  border-radius: 20px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.benefits__cards {
  display: flex;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.benefits__card {
  width: 587px;
  background: linear-gradient(
    to top,
    rgba(36, 36, 36, 1) 0%,
    rgba(118, 23, 30, 1) 25%,
    rgba(194, 11, 25, 1) 50%,
    rgba(118, 23, 30, 1) 75%,
    rgba(36, 36, 36, 1) 100%
  );
  border-radius: 20px;
  margin-top: 60px;
}

.benefits__card-img {
  width: 100%;
}

.benefits__card-content {
  margin-top: 40px;
  padding: 0 17px 35px 36px;
}

.benefits__card-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.benefits__card-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-2);
  max-width: 518px;
}

.about {
  position: relative;
}

.about__title {
  margin: 0 auto;
  max-width: max-content;
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 60px;
}

.about__img {
  overflow: hidden;
  border-radius: 30px;
  width: 100%;
}

.about__img > img {
  width: 100%;
}

.about__info {
  background-color: var(--color-white);
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  width: 1696px;
  margin: 0 auto;
  border-radius: 20px;
  position: absolute;
  bottom: 54px;
  left: 50%;
  transform: translateX(-50%);
}

.about__info-text {
  color: var(--color-black-2);
  font-size: 24px;
  font-weight: 500;
  max-width: 634px;
}

.about__btn {
  background-color: var(--color-black-2);
  padding: 20px 40px;
  border-radius: 10px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
