.blog__wrapper {
    padding-top: 168px;
}

.blog__list {
    margin-top: 80px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
}

.blog__item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.blog__item-img {
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--color-gray-11);
}

.blog__item-content {
    max-width: 642px;
}

.blog__item-title {
    font-size: 32px;
    font-weight: 500;
}

.blog__item-text {
    margin: 20px 0;
    max-width: 511px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 16px;
    font-weight: 400;
}

.blog__item-date {
    font-size: 14px;
    font-weight: 700;
}

.blog__btn {
    margin-top: 60px;
    width: 100%;
    padding: 50px 0;
    background: transparent;
    text-transform: uppercase;
    border: 1px solid var(--color-gray);
    border-radius: 20px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.5s;
}

.blog__btn:hover {
    background-color: var(--color-gray-5);

}


/* mediaQuery */
@media (max-width: 730px) {
  .blog__btn {
    padding: 40px 0;
  }
}

@media (max-width: 550px) {
  .blog__btn {
    padding: 25px 0;
  }
}

/* вынести */
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.breadcrumbs__item {
    padding: 10px 15px;
    background-color: var(--color-gray-11);
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
}

/* вынести */

.title {
    font-size: 80px;
    font-weight: 600;
    margin-top: 20px;
}