.blog {
    display: flex;
    align-items: start;
    gap: 30px;
}

.blog__img {
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 20px;
}

.blog__content {
    max-width: 642px;
}

.blog__title {
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
    transition: color .5s;
}

.blog__title:hover {
    color: var(--color-gray-4);
}

.blog__text {
    margin: 20px 0;
    max-width: 511px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 16px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog__date {
    font-size: 14px;
    font-weight: 700;
}

@media (max-width: 1260px) {
    .blog__text {
        -webkit-line-clamp: 4;
    }
}

@media (max-width: 950px) {


    .blog__text {
        max-width: 100%;
        margin: 10px 0;
    }

    .blog__img {
        width: 100%;
    }

}

@media (max-width: 720px) {

    .blog {
        flex-direction: column;
        gap: 20px;
    }

    .blog__title {
        font-size: 28px;
    }
}