.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 22px;
}

.breadcrumbs__item {
    padding: 10px 15px;
    background-color: var(--color-gray-11);
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
}