.post__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 168px;
}

.post__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.post__header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0 60px;
}

.user {
    width: 357px;
    padding: 15px;
    border: 1px solid var(--color-gray-12);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.user__avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-color: var(--color-gray-11);
}

.user__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user__name {
    font-size: 16px;
    font-weight: 400;
}

.user__role {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5)
}

.post__date {
    font-size: 14px;
    font-weight: 400;
}

.post__img {
    width: 100%;
    height: 577px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}


@media (max-width: 730px) {
    .post__container {
        padding-top: 100px;
    }

    .post__img {
        height: 388px;
    }


}

@media (max-width: 485px) {
    .post__header {
        flex-direction: column;
    }

    .user {
        width: 100%
    }
}

@media (max-width: 425px) {
    .post__img {
        height: 255px;
    }
}