/* блок портфолио */

.portfolio__cards {
  margin-top: 80px;
  width: 100%;
  display: flex;
  gap: 40px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio__btn {
  margin-top: 60px;
  width: 100%;
  padding: 50px 0;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid var(--color-gray);
  border-radius: 20px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.5s;
}

.portfolio__btn:hover {
  background-color: var(--color-gray-5);
}

@media (max-width: 1530px) {
  .portfolio__cards {
    gap: 70px;
  }
}

@media (max-width: 1300px) {
  .portfolio__cards {
    margin-top: 35px;
    gap: 35px;
  }
}

@media (max-width: 550px) {
  .portfolio__btn {
    padding: 25px 0;
  }
}


/* cta */

.cta-banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to top,
      rgba(36, 36, 36, 1) 0%,
      rgba(118, 23, 30, 1) 25%,
      rgba(194, 11, 25, 1) 50%,
      rgba(118, 23, 30, 1) 75%,
      rgba(36, 36, 36, 1) 100%);
  border-radius: 20px;
  gap: 10px;
}

.cta-banner__left {
  margin: 41px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.cta-banner__info {
  max-width: 660px;
}

.cta-banner__title {
  font-size: 80px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 40px;
}

.cta-banner__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--color-white);
  max-width: 518px;
}

.cta-banner__img {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: end;
}

.cta-banner__img>img {
  width: 100%
}

@media (max-width: 1240px) {
  .cta-banner {
    flex-direction: column;
  }

  .cta-banner__img {
    flex-direction: row;
    justify-content: end;
  }

  .cta-banner__img>img {
    width: 60%
  }
}

@media (max-width: 1390px) {
  .cta-banner__description {
    font-size: 18px;
  }

  .cta-banner__title {
    font-size: 64px;
  }
}

@media (max-width: 1090px) {
  .cta-banner__title {
    font-size: 48px;
  }
}

@media (max-width: 1024px) {
  .cta-banner__description {
    font-size: 16px;
  }
}

@media (max-width: 730px) {
  .cta-banner__title {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .cta-banner__description {
    font-size: 14px;
  }
}

@media (max-width: 570px) {
  .cta-banner__btn {
    max-width: 100%;
  }
}


/* benefits */

.benefits__cards {
  display: flex;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.benefits__card {
  width: 587px;
  background: linear-gradient(to top,
      rgba(36, 36, 36, 1) 0%,
      rgba(118, 23, 30, 1) 25%,
      rgba(194, 11, 25, 1) 50%,
      rgba(118, 23, 30, 1) 75%,
      rgba(36, 36, 36, 1) 100%);
  border-radius: 20px;
  transition: transform 0.5s;
}

.benefits__card:hover {
  transform: rotate(3deg);
}

.benefits__card-img {
  width: 100%;
}

.benefits__card-content {
  margin-top: 40px;
  padding: 0 17px 35px 36px;
}

.benefits__card-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.benefits__card-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-2);
  max-width: 518px;
}

@media (max-width: 1840px) {
  .benefits__card {
    width: 460px;
  }

  .benefits__card-title {
    font-size: 28px;
  }

  .benefits__card-text {
    font-size: 14px;
  }
}

@media (max-width: 1090px) {
  .benefits__cards {
    gap: 12px;
  }

  .benefits__card {
    width: max-content;
  }

  .benefits__card-content {
    margin-top: 40px;
    padding: 0px 8px 24px 14px;
  }
}


/* about */

.about {
  position: relative;
}

.about__title {
  margin: 0 auto;
  max-width: max-content;
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 60px;
}

.about__img {
  overflow: hidden;
  border-radius: 30px;
  width: 100%;
}

.about__img>img {
  width: 100%;
}

.about__info {
  background-color: var(--color-white);
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  border-radius: 20px;
  position: absolute;
  bottom: 54px;
  left: 50%;
  transform: translateX(-50%);
}

.about__info-text {
  color: var(--color-black-2);
  font-size: 24px;
  font-weight: 500;
  max-width: 634px;
}

.about__btn {
  background-color: var(--color-black-2);
  padding: 20px 40px;
  border-radius: 10px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.5s;
}

.about__btn:hover {
  background: var(--color-gray-3);
}

@media (max-width: 1260px) {
  .about__info-text {
    font-size: 16px;
    max-width: 355px;
  }
}

@media (max-width: 1090px) {
  .about__title {
    font-size: 48px;
  }
}

@media (max-width: 850px) {
  .about__btn {
    font-size: 12px;
  }

  .about__info {
    margin-top: 10px;
    position: static;
    transform: translateX(0px);
    width: 95%;
  }
}

@media (max-width: 730px) {
  .about__title {
    font-size: 32px;
  }

  .about__info-text {
    font-size: 12px;
    max-width: 260px;
  }

  .about__info {
    background-color: var(--color-white);
    padding: 15px;
  }
}

@media (max-width: 550px) {
  .about__info-text {
    max-width: 168px;
  }
}

@media (max-width: 470px) {
  .about__info {
    gap: 10px;
    flex-direction: column;
  }

  .about__btn {
    width: 100%;
  }

  .about__info-text {
    text-align: center;
    max-width: max-content;
  }
}


/* tariffs */

.tariffs__list {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.tariffs__card {
  padding: 49px 0 49px 40px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray-17);
  border: 1px solid var(--color-gray-18);
  border-radius: 20px;
  gap: 20px;
}

.tariffs__left {
  max-width: 700px;
  flex: 1;
}

.tariffs__title {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
}

.tariffs__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  color: #FFFFFF80;
}

.tariffs__right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 470PX;
  align-items: start;
}

.tariffs__label-price {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  color: var(--color-white);
}

.tariffs__price {
  font-size: 40px;
  font-weight: 400;
  line-height: 140%;
  color: var(--color-white);
}

.tariffs__action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 31px 0;
  background-color: transparent;
  border: 2px solid var(--color-white);
  border-radius: 10px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  transition: opacity .5s;
}

.tariffs__action:hover {
  opacity: 0.5;
}

@media (max-width: 1390px) {
  .tariffs__list {
    margin-top: 50px;
  }

  .tariffs__title {
    font-size: 28px;
  }

  .tariffs__description {
    font-size: 18px;
  }

  .tariffs__label-price {
    font-size: 18px;
  }

  .tariffs__price {
    font-size: 34px;
  }

  .tariffs__action {
    font-size: 18px;
  }
}

@media (max-width: 1090px) {
  .tariffs__list {
    margin-top: 40px;
  }

  .tariffs__title {
    font-size: 24px;
  }

  .tariffs__price {
    font-size: 30px;
  }

  .tariffs__right {
    width: 280px;
  }

  .tariffs__action {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .tariffs__description {
    font-size: 16px;
  }

  .tariffs__label-price {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .tariffs__title {
    font-size: 20px;
  }

  .tariffs__description {
    font-size: 14px;
  }

  .tariffs__label-price {
    font-size: 14px;
  }

  .tariffs__price {
    font-size: 24px;
  }

  .tariffs__action {
    font-size: 14px;
  }
}

@media (max-width: 730px) {
  .tariffs__list {
    margin-top: 30px;
  }
}

@media (max-width: 635px) {
  .tariffs__card {
    flex-direction: column;
    padding: 20px;
    align-items: baseline;
  }
}

@media (max-width: 430px) {
  .tariffs__action {
    font-size: 12px;
  }
}
