:root {
  --color-white: #fff;
  --color-black: #1a1a1a;
  --color-black-2: #171717;
  --color-gray: rgba(255, 255, 255, 0.2);
  --color-gray-2: rgba(255, 255, 255, 0.5);
  --color-gray-3: #505050;
  --color-gray-4: #aeadad;
  --color-gray-5: #7a797917;
  --color-gray-6: #66686A;
  --color-gray-7: #D3D3D3;
  --color-gray-8: #2b2a2a;
  --color-gray-9: #202020;
  --color-gray-10: #646464;
  --color-gray-11: #272727;
  --color-gray-12: #2C2C2C;
  --color-gray-13: #66686A;
  --color-gray-14: #343434;
  --color-gray-15: #6C696D;
  --color-gray-16: #2A2A2A;
  --color-light-blue: #F3F6F8;
  --color-red: #C20B19;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

button {
  border: 1px solid transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

input.inp {
  border: none;
  outline: none;
  padding: 20px 30px;
  background-color: var(--color-light-blue);
}

input.inp::placeholder {
  font-size: 16px;
  font-weight: 500;
}

.container {
  position: relative;
  max-width: 1805px;
  width: 98%;
  margin: 0 auto;
  height: 100%;
}

.no-oldstyle-numbers {
  font-variant-numeric: lining-nums;
}

.title {
  font-size: 80px;
  font-weight: 600;
  margin-top: 20px;
}

.related {
  margin: 200px 0;
}

.related__title {
  text-align: center;
  font-size: 72px;
  font-weight: 600;
}

.related__list {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
  justify-self: center;
}

@media (max-width: 1260px) {
  .container {
    width: 92%;
  }
}

@media (max-width: 730px) {
  .title {
    font-size: 40px;
  }

  .related {
    margin: 100px 0;
  }

  .related__list {
    margin-top: 30px;
  }

  .related__title {
    font-size: 36px;
  }
}


@media (max-width: 950px) {

  .related__list {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

}