.header {
  height: 100dvh;
  width: 100%;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header__arrows {
  padding-top: 300px;
  padding-bottom: 127px;
  width: max-content;
  margin-left: auto;
  margin-right: 25%;
  flex-grow: 1;
}

.header__arrows>img {
  width: 254px;
  height: 58px;
}

.header__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 155px;
  bottom: 0;
}

.header__title {
  max-width: 1345px;
  font-size: 128px;
  font-weight: 500;
  line-height: 95%;
}

.header__text {
  max-width: 321px;
  margin-bottom: 17px;
  font-weight: 500;
  line-height: 140%;
}

section{
  margin-top: 200px;
}

.benefits__cards {
  display: flex;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.benefits__card {
  width: 587px;
  background: linear-gradient(to top,
      rgba(36, 36, 36, 1) 0%,
      rgba(118, 23, 30, 1) 25%,
      rgba(194, 11, 25, 1) 50%,
      rgba(118, 23, 30, 1) 75%,
      rgba(36, 36, 36, 1) 100%);
  border-radius: 20px;
  transition: transform 0.5s;
}

.benefits__card:hover {
  transform: rotate(3deg);
}

.benefits__card-img {
  width: 100%;
}

.benefits__card-content {
  margin-top: 40px;
  padding: 0 17px 35px 36px;
}

.benefits__card-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.benefits__card-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-2);
  max-width: 518px;
}

.about {
  position: relative;
}

.about__title {
  margin: 0 auto;
  max-width: max-content;
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 60px;
}

.about__img {
  overflow: hidden;
  border-radius: 30px;
  width: 100%;
}

.about__img>img {
  width: 100%;
}

.about__info {
  background-color: var(--color-white);
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  border-radius: 20px;
  position: absolute;
  bottom: 54px;
  left: 50%;
  transform: translateX(-50%);
}

.about__info-text {
  color: var(--color-black-2);
  font-size: 24px;
  font-weight: 500;
  max-width: 634px;
}

.about__btn {
  background-color: var(--color-black-2);
  padding: 20px 40px;
  border-radius: 10px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.5s;
}

.about__btn:hover {
  background: var(--color-gray-3);
}



/* adaptive */
@media (max-width: 1840px) {
  .benefits__card {
    width: 460px;
  }

  .benefits__card-title {
    font-size: 28px;
  }

  .benefits__card-text {
    font-size: 14px;
  }
}

@media (max-width: 1700px) {
  .header__title {
    max-width: 925px;
    font-size: 98px;
  }

  .header__arrows {
    margin-right: 15%;
  }
}

@media (max-width: 1300px) {
  .header__content {
    gap: 20px;
    padding-bottom: 85px;
  }

  section {
    margin-top: 46px;
  }

}

@media (max-width: 1260px) {
  .about__info-text {
    font-size: 16px;
    max-width: 355px;
  }
}

@media (max-width: 1090px) {
  .about__title {
    font-size: 48px;
  }

  .benefits__cards {
    gap: 12px;
  }

  .benefits__card {
    width: max-content;
  }

  .benefits__card-content {
    margin-top: 40px;
    padding: 0px 8px 24px 14px;
  }
}

@media (max-width: 920px) {
  .header__title {
    font-size: 42px;
  }

  .header__arrows {
    padding-top: 176px;
  }
}

@media (max-width: 850px) {
  .about__btn {
    font-size: 12px;
  }

  .about__info {
    margin-top: 10px;
    position: static;
    transform: translateX(0px);
    width: 95%;
  }

  .header__title {
    max-width: 603px;
  }
}

@media (max-width: 760px) {
  .popup {
    width: max-content;
    max-width: 608px;
    padding: 34px 38px;
  }
}

@media (max-width: 730px) {
  .about__title {
    font-size: 32px;
  }

  .header__arrows {
    margin-right: 5%;
  }

  .header__arrows>img {
    width: 103px;
  }

  .about__info-text {
    font-size: 12px;
    max-width: 260px;
  }

  .about__info {
    background-color: var(--color-white);
    padding: 15px;
  }
}

@media (max-width: 550px) {
  .about__info-text {
    max-width: 168px;
  }
}

@media (max-width: 470px) {
  .header__content {
    padding-bottom: 55px;
  }

  .about__info {
    gap: 10px;
    flex-direction: column;
  }

  .about__btn {
    width: 100%;
  }

  .about__info-text {
    text-align: center;
    max-width: max-content;
  }
}

@media (max-width: 430px) {
  .popup {
    padding: 25px 28px;
  }

  .popup__title {
    font-size: 24px;
  }

  .popup__description {
    font-size: 12px;
  }

  .request__police {
    font-size: 11px;
  }

  .popup__btn {
    padding: 12px 0;
    font-size: 12px;
  }

  .popup .inp::placeholder {
    font-size: 12px;
  }

  .popup .inp {
    padding: 15px 20px;
  }

  #police {
    width: 20px;
    height: 20px;
    min-width: 20px;
  }
}

@media (max-height: 620px) {
  .header__arrows {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

@media(max-height: 540px) {
  .header__arrows {
    padding-top: 70px;
  }
}
